h1#heading1{
   font-size: 60px;
}

#heading2{

    Color:royalblue;
}

#heading3 {

    text-align: center;
}



.paragraph1{
    font-style: italic;
    font-weight: bold;

}



.paragraph2{
font-style: italic;

}

.paragraph3{
   font-weight: bold;
    font-style: italic;

}

















