#first{
    background-color: aquamarine;
    margin: 30px;
    padding: 30px;
    text-align: center;
}

#second{
    background-color: royalblue;
    margin: 50px;
    padding: 30px;
    margin-top: 50px;
}


#main{
    text-align: center;
    color: aqua;
    background-color: blueviolet;
    line-height: 90px;


}

.mymain{
   display: flex;


}


#course1:hover{

    background-color: royalblue;
    color: blue;
    padding: 30px;
    margin-left: 30px;
}

#course2:hover{

    background-color: coral;
    margin-left: 20px;
    margin-right: 20px;
}

#course3:hover{
    background-color: red;
}


.course{

    text-align: center;
}